 .u-section-1 {
  background-image: url("images/nathan-dumlao-8Lq-EsfI9Po-unsplash.jpeg");
  background-position: 50% 78.17%;
}

.u-section-1 .u-sheet-1 {
  min-height: 737px;
}

.u-section-1 .u-text-1 {
  background-image: none;
  font-size: 6rem;
  animation-duration: 1600ms;
  font-weight: bold;
  margin: 316px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 608px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 466px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
    width: auto;
    margin-top: 352px;
    margin-bottom: 48px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 350px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 220px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 175px;
}

.u-section-2 .u-text-1 {
  font-size: 6rem;
  font-weight: 800;
  letter-spacing: 4px;
  margin: 29px auto 0;
}

.u-section-2 .u-text-2 {
  font-size: 1.5rem;
  margin: -115px auto 60px 305px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-2 {
    width: auto;
    margin-top: -111px;
    margin-left: 205px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: 35px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 96px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-2 {
    margin-top: -112px;
    margin-left: 6px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 79px;
  }

  .u-section-2 .u-text-1 {
    font-size: 2.25rem;
    margin-top: 32px;
  }

  .u-section-2 .u-text-2 {
    font-size: 1rem;
    margin-top: -56px;
    margin-bottom: 47px;
    margin-left: 57px;
  }
} .u-section-3 {
  min-height: 655px;
}

.u-section-3 .u-layout-wrap-1 {
  pointer-events: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 655px;
  pointer-events: auto;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  font-size: 2.25rem;
  margin: 160px 0 0;
}

.u-section-3 .u-text-2 {
  font-size: 1.125rem;
  margin: 15px 0 0;
}

.u-section-3 .u-image-1 {
  min-height: 655px;
  pointer-events: auto;
  background-image: url("images/jeremy-wong-weddings-K8KiCHh4WU4-unsplash.jpeg");
  background-position: 50% 55.29%;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px 60px;
}

@media (max-width: 1199px) {
   .u-section-3 {
    min-height: 540px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 558px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-top: 72px;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-top: 10px;
  }

  .u-section-3 .u-image-1 {
    min-height: 540px;
  }
}

@media (max-width: 991px) {
   .u-section-3 {
    min-height: 414px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 495px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 31px;
  }

  .u-section-3 .u-image-1 {
    min-height: 414px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
   .u-section-3 {
    min-height: 721px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 330px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 50px;
    padding-right: 50px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 25px;
  }

  .u-section-3 .u-text-2 {
    margin-top: 12px;
  }

  .u-section-3 .u-image-1 {
    min-height: 621px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
   .u-section-3 {
    min-height: 734px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 342px;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.25rem;
    margin-top: 12px;
  }

  .u-section-3 .u-text-2 {
    font-size: 1rem;
    margin-top: 14px;
  }

  .u-section-3 .u-image-1 {
    min-height: 392px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 375px;
}

.u-section-4 .u-layout-wrap-1 {
  margin: 27px auto 40px 0;
}

.u-section-4 .u-image-1 {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("images/tom-the-photographer-8yPA6ZYq0-s-unsplash.jpeg");
  min-height: 324px;
  background-position: 50% 16.5%;
}

.u-section-4 .u-group-1 {
  width: 225px;
  min-height: 252px;
  margin: 26px auto;
}

.u-section-4 .u-container-layout-2 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-4 .u-text-1 {
  font-size: 1.25rem;
  font-family: Lobster;
  margin: 25px 0;
}

.u-section-4 .u-image-2 {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("images/mariana-acevedo-nwboHnE9zi4-unsplash.jpeg");
  min-height: 328px;
  background-position: 100% 50%;
}

.u-section-4 .u-group-2 {
  width: 225px;
  min-height: 252px;
  margin: 26px auto;
}

.u-section-4 .u-container-layout-4 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-4 .u-text-2 {
  margin: 34px 0 0;
}

.u-section-4 .u-layout-cell-3 {
  min-height: 328px;
}

.u-section-4 .u-text-3 {
  font-weight: 900;
  font-size: 2.25rem;
  margin: 45px 20px 0;
}

.u-section-4 .u-text-4 {
  margin: 10px 20px 0;
}

.u-section-4 .u-text-5 {
  margin: 11px 34px 0 111px;
}

.u-section-4 .u-text-6 {
  margin: 0 auto 0 111px;
}

.u-section-4 .u-btn-1 {
  background-image: none;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 317px;
  }

  .u-section-4 .u-layout-wrap-1 {
    position: relative;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-group-1 {
    width: 186px;
    position: relative;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-4 .u-text-1 {
    position: relative;
  }

  .u-section-4 .u-image-2 {
    min-height: 324px;
  }

  .u-section-4 .u-group-2 {
    width: 186px;
    position: relative;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-4 .u-text-2 {
    position: relative;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 270px;
  }

  .u-section-4 .u-text-3 {
    position: relative;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-4 {
    position: relative;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-5 {
    margin-right: 1px;
    margin-left: 78px;
  }

  .u-section-4 .u-text-6 {
    margin-left: 78px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 398px;
  }

  .u-section-4 .u-image-1 {
    min-height: 455px;
  }

  .u-section-4 .u-group-1 {
    width: 201px;
    min-height: 281px;
    margin-top: 80px;
    margin-bottom: 0;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 13px;
    padding-right: 13px;
  }

  .u-section-4 .u-text-1 {
    margin-top: 0;
    margin-bottom: 0;
  }

  .u-section-4 .u-image-2 {
    min-height: 455px;
  }

  .u-section-4 .u-group-2 {
    width: 201px;
    min-height: 281px;
    margin-top: 80px;
    margin-bottom: 0;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 13px;
    padding-right: 13px;
  }

  .u-section-4 .u-text-2 {
    width: auto;
    margin-top: 40px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 455px;
  }

  .u-section-4 .u-text-5 {
    margin-right: 0;
    margin-left: 6px;
  }

  .u-section-4 .u-text-6 {
    margin-left: 6px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1115px;
  }

  .u-section-4 .u-image-1 {
    min-height: 381px;
  }

  .u-section-4 .u-group-1 {
    width: 494px;
    margin-top: 0;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 9px;
    padding-right: 9px;
  }

  .u-section-4 .u-text-1 {
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .u-section-4 .u-image-2 {
    min-height: 391px;
  }

  .u-section-4 .u-group-2 {
    width: 491px;
    min-height: 291px;
    margin-top: 0;
    margin-right: 23px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 9px;
    padding-right: 9px;
  }

  .u-section-4 .u-text-2 {
    margin-top: 0;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 417px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 773px;
  }

  .u-section-4 .u-image-1 {
    min-height: 353px;
  }

  .u-section-4 .u-group-1 {
    width: 288px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 6px;
    padding-right: 6px;
  }

  .u-section-4 .u-image-2 {
    min-height: 413px;
  }

  .u-section-4 .u-group-2 {
    width: 294px;
    min-height: 341px;
    margin-right: auto;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 6px;
    padding-right: 6px;
  }

  .u-section-4 .u-text-2 {
    margin-top: 35px;
    margin-bottom: 35px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 325px;
  }

  .u-section-4 .u-text-3 {
    font-size: 1.875rem;
  }

  .u-section-4 .u-text-5 {
    margin-left: 0;
  }

  .u-section-4 .u-text-6 {
    margin-left: 0;
  }
} .u-section-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.45), rgba(0,0,0,0.45)), url("images/ad9a594492f709bb4de8c98b47b36b899a55be6a70ee73acd76597eae211f71a6412f49ac374bf988e423363fc3f997f842fa1882c7c8a9881f29b_1280.jpg");
  background-position: 50% 50%;
}

.u-section-5 .u-sheet-1 {
  min-height: 748px;
}

.u-section-5 .u-layout-wrap-1 {
  margin: 55px auto 65px 0;
}

.u-section-5 .u-image-1 {
  min-height: 315px;
  background-image: url("images/7d99e4a260af79aab88258a9ce241cb1f2f951545cff0ef6c67fbf109e043b4ac1da5445e7ccda5d59506be7d3f8d3af0167b7b8f453957943c0f8_1280.jpg");
  background-position: 50% 50%;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 315px;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px 60px;
}

.u-section-5 .u-text-1 {
  font-size: 1.875rem;
  font-weight: 700;
  margin: 0;
}

.u-section-5 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-5 .u-btn-1 {
  border-style: none none solid;
  font-size: 1rem;
  letter-spacing: normal;
  text-transform: none;
  font-weight: normal;
  margin: 20px auto 0 0;
  padding: 0;
}

.u-section-5 .u-layout-cell-3 {
  min-height: 315px;
}

.u-section-5 .u-container-layout-3 {
  padding: 30px 60px;
}

.u-section-5 .u-text-3 {
  font-size: 1.875rem;
  font-weight: 700;
  margin: 0;
}

.u-section-5 .u-text-4 {
  margin: 20px 0 0;
}

.u-section-5 .u-btn-2 {
  border-style: none none solid;
  font-size: 1rem;
  letter-spacing: normal;
  text-transform: none;
  font-weight: normal;
  margin: 20px auto 0 0;
  padding: 0;
}

.u-section-5 .u-image-2 {
  min-height: 315px;
  background-image: url("images/ad9a594492f709bb4de8c98b47b36b899a55be6a70ee73acd76597eae211f71a6412f49ac374bf988e423363fc3f997f842fa1882c7c8a9881f29b_1280.jpg");
  background-position: 50% 50%;
}

.u-section-5 .u-container-layout-4 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 750px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-btn-1 {
    height: 38px;
    width: 99px;
    border-style: none;
  }

  .u-section-5 .u-btn-2 {
    height: 38px;
    width: 99px;
    border-style: none;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1357px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-bottom: 55px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1780px;
  }

  .u-section-5 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-5 .u-text-3 {
    font-size: 1.5rem;
  }
} .u-section-6 {
  background-image: linear-gradient(0deg, rgba(85,93,102,0.5), rgba(85,93,102,0.5)), url("images/itzel-gonzalez-lara-TeZegvNEAtk-unsplash.jpeg");
  background-position: 50% 50%;
}

.u-section-6 .u-sheet-1 {
  min-height: 634px;
}

.u-section-6 .u-text-1 {
  background-image: none;
  font-weight: normal;
  margin: 173px auto 0;
}

.u-section-6 .u-text-2 {
  font-size: 1.25rem;
  margin: 12px 59px 60px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 523px;
  }

  .u-section-6 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 489px;
  }

  .u-section-6 .u-text-1 {
    width: auto;
    margin-top: 60px;
  }

  .u-section-6 .u-text-2 {
    width: auto;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 367px;
  }

  .u-section-6 .u-text-1 {
    margin-left: 46px;
    margin-right: 46px;
  }
}

@media (max-width: 575px) {
   .u-section-6 {
    background-position: 54.29% 50%;
  }

  .u-section-6 .u-sheet-1 {
    min-height: 231px;
  }

  .u-section-6 .u-text-1 {
    margin-left: 2px;
    margin-right: 2px;
  }

  .u-section-6 .u-text-2 {
    font-size: 1.125rem;
  }
}